<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bluma.css">
</head>
<body>
    <h1>数字输入框组件</h1>
    <div id="app">
        <input-number v-model="value" :max="max" :min="min" :step="3"></input-number>
        <hr>
        <h1>value: {{value}}</h1>
    </div>
    <script src="../../vue.js"> </script>
    <script src="./input-number.js"></script>
    <script src="./index.js"></script>
</body>
</html>